<header>
  <a href="/">
    <h1>TrainTrax</h1>
  </a href="/">
  <nav>
    <ul class="nav-wrap">
      <li class="nav-item">
        <a href="/session/addSession">Add New Session</a>
      </li>
      <li class="nav-item">
        <a href="/sessions" class="toSessions">All Sessions</a>
      </li>
    </ul>
  </nav>
</header>
