<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>

    <h2>Add new session</h2>
    <form action="/sessions/createSession" method="POST">
      <fieldset>
        <div>
          <label>
            Type:
            <input
              type="text"
              placeholder="e.g boxing"
              name="sessionItemType"
            />
          </label>
        </div>

        <div>
          <label>
            Date:
            <input type="date" name="sessionItemDate" />
          </label>
        </div>

        <div>
          <label>
            HR avg:
            <input type="number" placeholder="bpm" name="sessionItemHR" />
          </label>
        </div>
        <div>
          <label>
            Burned:
            <input
              type="number"
              placeholder="calories"
              name="sessionItemCals"
            />
          </label>
        </div>
        <div>
          <label>
            Duration:
            <input type="text" placeholder="mins" name="sessionItemDuration" />
          </label>
        </div>
        <div>
          <label>
            Notes:
            <textarea type="text" name="sessionItemNotes"> </textarea>
          </label>
        </div>
        <div>
          <input type="submit" class="submit" />
        </div>
      </fieldset>
    </form>
  </body>
</html>
