<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>

    <h2>Add new session</h2>
    <form
      class="new-session_form"
      action="/sessions/createSession"
      method="POST"
    >
      <fieldset>
        <!-- <div> -->
          <label>
            Type:
            <input
              class="new-session_form-input"
              type="text"
              placeholder="e.g boxing"
              name="sessionItemType"
              required
            />
          </label>
        </div>

        <!-- <div> -->
          <label>
            Date:
            <input
              type="date"
              name="sessionItemDate"
              class="new-session_form-input"
            />
          </label>
        </div>

        <!-- <div> -->
          <label>
            HR avg:
            <input
              type="number"
              placeholder="bpm"
              name="sessionItemHR"
              class="new-session_form-input"
            />
          </label>
        </div>
        <!-- <div> -->
          <label>
            Burned:
            <input
              type="number"
              placeholder="calories"
              name="sessionItemCals"
              class="new-session_form-input"
            />
          </label>
        </div>
        <!-- <div> -->
          <label>
            Duration:
            <input
              type="text"
              placeholder="mins"
              name="sessionItemDuration"
              class="new-session_form-input"
            />
          </label>
        </div>
        <!-- <div> -->
          <label>
            Notes:
            <textarea
              type="text"
              name="sessionItemNotes"
              class="new-session_form-input"
            >
            </textarea>
          </label>
        </div>
        <!-- <div> -->
          <input type="submit" class="submit" />
        </div>
      </fieldset>
    </form>
  </body>
</html>
