<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <h1>Welcome</h1>
    <h2>
      Please <a href="/user/login">login</a> or
      <a href="/user/signup">sign up</a>
    </h2>
  </body>
</html>
