<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <!-- <p><a href="/sessions" class="toSessions">All sessions</a></p>
    <p><a href="/session/addSession">Add new session</a></p> -->
    <h1>Welcome</h1>
    <!-- <script src="/public/js/main.js"></script> -->
  </body>
</html>
