body {
  box-sizing: border-box;
  margin: 0;
  padding: 0 3rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: "Montserrat", sans-serif;
}

header {
  background-color: #eeeeee;
  width: 100%;
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(30, 30, 31);
  font-family: "Gruppo", cursive;
}

a,
ul {
  list-style: none;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/* HEADER */
.nav-wrap {
  display: flex;
  align-items: center;
}

.nav-item {
  margin: 0 1rem;
}

/* ALL SESSIONS */

h2 {
  margin-top: 3rem;
}

form {
  margin-top: 3rem;
  max-width: 25rem;
}

fieldset {
  border: none;
}

input {
  margin-bottom: 1.5rem;
  margin-left: 0.75rem;
  border: none;
  border-bottom: 1px solid rgb(29, 29, 29);
}

div {
  display: flex;
  justify-content: right;
}

textarea {
  width: 100%;
  min-height: 5rem;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.05rem;
}

.submit {
  margin-top: 1rem;
  padding: 0.3rem 1rem;
  font-family: inherit;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  border: 1px solid rgb(29, 29, 29);
  background-color: transparent;
}

.submit:hover {
  background-color: rgb(29, 29, 29);
  color: white;
  cursor: pointer;
}

.sessions {
  border-collapse: collapse;
  width: 60%;
  margin-top: 2rem;
}

.sessions td,
.sessions th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.sessions tr:nth-child(even) {
  background-color: #f2f2f2;
}

.sessions tr:hover {
  background-color: #ddd;
}

.sessions th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #04aa6d;
  color: white;
}
